.hero {
  background-color: $grey-dark;
}

a {
  transition: all 200ms ease;
}

.button,
.control.has-icons-left .icon,
.control.has-icons-right .icon,
.input,
.textarea {
  height: 2.5em;
}

.button {
  border-width: $border-width;
  color: $white;
  transition: all 200ms ease;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-focus-border-color, 0.5);
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-hovered,
      &:hover {
        background-color: lighten($color, 7.5%);
      }

      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px rgba($color, 0.5);
      }
    }
  }
}

.label {
  color: $grey-lighter;
}

.input,
.textarea {
  border-width: $border-width;
  box-shadow: none;
  padding-left: 1em;
  padding-right: 1em;
  transition: all 200ms ease;
}

.control {
  &.has-addons {
    .button,
    .input,
    .select {
      margin-right: -$border-width;
    }
  }
}

.menu-list {
  a {
    transition: all 300ms ease;
  }
}

.navbar {
  &.is-transparent {
    background: none;
  }

  &.is-primary .navbar-dropdown a.navbar-item.is-active {
    background-color: $link;
  }

  @include touch {
    .navbar-menu {
      background-color: $navbar-background-color;
      border-radius: 0 0 $radius $radius;
    }
  }
}

body > .navbar,
.hero .navbar {
  border-radius: 0;
}

p {
  margin: 1rem 0;
  max-width: 60rem;
  padding-right: 1.5rem;
  text-align: justify;
}

address {
  font-style: normal;
}

.image img {
  border-radius: 3px;
}

.is-pulled-left {
  margin-right: 1rem;
}

.section {
  padding-bottom: 0;
}

.list {
  margin-bottom: 3rem;
}
